@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@500&display=swap');

.upper{
    background-color: #ffbb62;
    max-height: 5%;
}
.bg-nav{
    background-color: #dbd400;
}

*{
    font-family: 'Roboto', serif;
}

.titulo{
    font-family: 'Roboto Slab', 'sans-serif';
}